<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
        integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <title>Codenjoy solution runner</title>
</head>

<body>
    <div class="mt-5">
        <div class="mb-5">
            <h1 class="text-center">Welcome to Codenjoy Solution Runner</h1>
            <p class="text-center fw-light">Give me your repo and Codenjoy server URL and magic you will see</p>
        </div>
        <div class="container">
            <div class="row">
                <form class="horizontal">
                    <div class="container-fluid d-flex form-group mb-2">
                        <label class="col-3 control-label">Solution Git Repo</label>
                        <div class="col-9 ">
                            <input class="form-control input-xs" id="repo"
                                placeholder="https://github.com/pupkin/bomberman-codenjoy.git">
                        </div>
                    </div>
                    <div class="container-fluid d-flex form-group mb-2">
                        <label class="col-3 control-label ts-2">Codenjoy Server URL</label>
                        <div class="col-9">
                            <input class="form-control input-xs" id="serverUrl"
                                placeholder="https://dojorena.io/codenjoy-contest/board/player/pupkin?code=77777">
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col text-center">
                    <input id="btnsubmit" type="button" value="Let's Go"
                        class="btn btn-outline-primary btn-lg btn-block mt-3">
                </div>
            </div>
        </div>
        </form>
    </div>

    <script src="js/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
</body>

</html>